@import 'bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap';
@import 'bower_components/fontawesome/scss/font-awesome';

$debug-text-font-color: red;
$debug-frame-color: $gray-lighter;

body{
  padding-top: 70px;
}

.cs-debug-text {
  color: $debug-text-font-color;
}

.cs-debug-frame{
  border: 2px solid $debug-frame-color;
}

.cs-graph-pane, .cs-node-pane{
  height: 400px;
  overflow-x: scroll;
}
