<div class="row">
  <div class="col-md-12">
    <div class="well">
      <h2> Total nodes: {{model.nodes.length}}</h2>
      <div class="cs-debug">Nodes Route</div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="col-md-9">
    {{vis-network nodes=model.nodes edges=model.edges}}
  </div>
  <div class="col-md-3">
    {{outlet}}
  </div>
</div>


