<h2>Nodes Route</h2>
<div>
  <span>bs</span>
  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
</div>
<div>
  <span>fa</span>
  <span><i class="fa fa-anchor"></i></span>
</div>

<h2> Total nodes: {{model.nodes.length}}</h2>
{{vis-network nodes=model.nodes edges=model.edges}}

{{outlet}}
